.git/
.gitignore
*.log

.venv/
env/
venv/
.uv/
.cache/

.env
.vscode/
.idea/
.github/

__pycache__/
*.pyc
*.pyo
*.pyd

Dockerfile
.dockerignore
compose.yml
compose.*.yml

.ruff_cache/
.python-version
