# Python
__pycache__/
*.py[cod]
*$py.class
dist/
build/
tests/assets/

# Virtual Env
.venv/

# Cache
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Envoronment
.env
data/*
!data/*.mp3
!data/fx/
migrations/
.vscode/
compose.*.yml
