services:
  app:
    container_name: slow-tunes-bot
    hostname: slowtunesbot
    build: .
    init: true
    volumes:
      - bot-data:/app/data
    environment:
      DEBUG: 0
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1
      REDIS_HOST: cache
      REDIS_PORT: 6379
    env_file:
      - ./.env
    restart: unless-stopped
    depends_on:
      - cache
  cache:
    container_name: slow-tunes-bot-cache
    hostname: slowtunesbot-cache
    image: redis:8-alpine
    init: true
    mem_limit: 16m
    restart: unless-stopped
    command: redis-server --save 300 1 --loglevel warning
    volumes:
      - bot-cache:/data
volumes:
  bot-data:
  bot-cache:
