upstream bot {
    server app;
}

server {
    listen      8080;
    server_name _;
    access_log  off;
    error_log   /dev/null crit;

    location /slowtunesbot/ {
        proxy_pass http://bot;
    }
}
